Hello {{ mysqlUser }},

Your MySQL user:
'{{ mysqlUser }}'@'{{ mysqlHost }}'
Now has access to the following cluster(s): {{mysqlClusters}}
Nothing else is required as your password has been automagically transported from: {{defaultCluster}}

Please feel free to reply to this email with any questions you may have.

Happy Querying,
Bob T. Builder <{{ email }}>
http://i.imgur.com/IaqNsAd.jpg
