import getpass
from subprocess import call
user = "{{mysqlUser}}"
hosts = []
{% for cluster in mysqlClusters %}
# mysql -h {{ cluster }} -u '{{ mysqlUser }}' -p{{ mysqlPass }} -e "SET PASSWORD = PASSWORD('$MY_NEW_MYSQL_PASS')"
hosts.append("{{ cluster }}")
{% endfor %}
auto_pass = "-p"+"{{mysqlPass}}"
print "Type the new password for", user, " on hosts[", ", ".join(hosts), "]:"
user_pass = getpass.getpass()
for host in hosts:
    call(["mysql", "-h", host, "-u", user, auto_pass, "-e", "SET PASSWORD = PASSWORD('"+user_pass+"')"])
print "success, try the following to test the new users:"
for host in hosts:
    print "mysql -h", host, "-u", user, "-p", "-e", "'SHOW GRANTS FOR CURRENT_USER()'"
