Hello {{ mysqlUser }},

You are now the proud owner of your very own MySQL user:
'{{ mysqlUser }}'@'{{ mysqlHost }}'
The first thing you should do is change your password.
This can be easily done by copy pasting the following line into a command prompt:
--------
{{ passwordChangeInst }}
--------

Please feel free to reply to this email with any questions you may have.

Happy Querying,
Bob T. Builder <{{ email }}>
http://i.imgur.com/IaqNsAd.jpg
